html, body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #284b75;
    align-items: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 0.2px;
    font-size: 14px;
}

.dashboard-content{
    width: 1200px;
    height: 90vh;
    display: grid;
    grid-template-columns: 0.6fr 3fr;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

/* dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: right;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* Main Content */
.main-content{
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.header{
    display: flex;
    align-items: center;
    place-items: center;
    padding: 15px 45px 15px 35px;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #e5e7eb;
}

.page-title{
    font-size: 24px;
    letter-spacing: 0.5px;
}

.profile{
    display: flex;
    align-items: center;
    place-items: center;
    gap: 15px;
}

.profile-info{
    display: flex;
    align-items: center;
    place-items: center;
    gap: 5px;
}

.widgets{
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding: 15px 45px 15px 35px;
    overflow-y: auto;
    min-height: 0;
    height: 100%;
}

.overview-widgets{
    display: grid;
    gap: 20px;
}

.overview-list{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 0;
}

.overview-item{
    display: grid;
    border: 1px solid rgb(237, 234, 234);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    padding: 15px;
    gap: 10px;
    flex: 1;
    border-radius: 12px;
    cursor: pointer;
}

.overview-inner-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
}

.balance{
    font-size: 24px;
    font-weight: bold;
}

.overview-info{
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.overview-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.main-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.3s;
}

.main-icon:hover{
    transform: scale(1.3);
}

.stats{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.increase{
    color: rgb(151, 201, 151);
}

.decrease{
color: rgb(241, 84, 84);
}

/*  */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.chart{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    width: 150px;
    height: 150px;
    background: conic-gradient(orange 40%, #A53CD6 0 64%, #FA4B4B 0 82%, #287DDA 0 95%, #D677A9 0 100%);
    border-radius: 50%;
}

.inner-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%; 
    z-index: 1;
}

.card-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #e5e7eb;
}

.expenses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expense-list ul{
    display: grid;
    justify-content: space-between;
    gap: 20px;
}

.expense-item{
    display: flex;
}

.space{
    padding-left: 30px;
}

.color1{
    color: orange;
}

.color2{
    color: #A53CD6;
}

.color3{
    color: #FA4B4B;
}

.color4{
    color: #287DDA;
}

.color5{
    color: #D677A9;
}

/* Side Bar */
.left-sidebar{
    font-size: 16px;
    display: grid;
    grid-template-rows: 0.8fr 3fr 1fr;
    justify-content: center;
    background-color: #0f223a;
    color: white;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
} 

.nav-item{
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    gap: 10px;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-link:hover{
    transform: scale(1.1);
    color: #8db0db;
}

.widget-title:hover{
    color: #8db0db;
}

.nav-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: invert(100%) brightness(100%);
    transition: 0.3s;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.logout{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 15px;
}


@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 14px;
  }

  .dashboard-content{
        width: 900px;
    }

    .expense-list ul{
        gap: 8px;
    }

    .chart{
        width: 120px;
        height: 120px;
    }

    .inner-cart{
        width: 80px;
        height: 80px;
    }

    .hide-tablet-and-mobile{
        display: none;
    }

    .card-items {
        gap: 5px;
    }

    .expenses{
        display: grid;
        align-items: center;
        place-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .balance{
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 12px;
    }

    .dashboard-content {
        width: 700px;
        grid-template-columns: 1fr;
    }

    .hide-tablet {
        display: none;
    }

    .expenses{
        display: grid;
        align-items: center;
        place-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .expense-list ul{
        gap: 3px;
    }

    .balance{
        font-size: 16px;
    }

    .overview-item{
        padding: 15px;
        gap: 5px;
    }
}

@media (max-width: 767px){
    body {
        display: grid;
        font-size: 11px;
        padding-top: 10%;
    }

    .dashboard-content{
        display: flex;
        min-width: 320px;
        width: auto;
        height: auto;
        min-width: 320px;
        scrollbar-width: none;
        grid-template-columns: 1fr;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .main-content::-webkit-scrollbar {
        display: none;
    }

    .main-content{
        display: grid;
        height: auto;
        overflow-y: auto;
        scrollbar-width: none;
        grid-template-rows: 1fr 15fr;
    }

    .page-title{
        font-size: 14px;
        letter-spacing: 0.1px;
    }

    .header{
        display: flex;
        align-items: center;
        padding: 15px 45px 0px 50px;
    }

    .profile{
        display: flex;
        gap: 10px;
    }

    .hide-mobile{
        display: none;
    }

    .overview-list-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .stats{
        width: 25px;
        height: 25px;
    }

    .balance{
        font-size: 14px;
    }

    .chart{
        width: 120px;
        height: 120px;
    }

    .inner-cart{
        width: 80px;
        height: 80px;
    }

    .overview-list{
        display: grid;
        justify-content: center;
        gap: 15px;
        padding-left: 0;
    }

    .overview-list:not(.overview-widgets .overview-list) {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100%;
    }

    .expense-list ul{
        gap: 3px;
    }

    .expenses{
        display: grid;
        justify-content: center;
        place-items: center;
    }
}
